
.debug{
  background-color: rgba(165, 42, 42, 0.39);
  border: 1px solid black;
}


.sd-header{
  height: 90px;
  background-color: aliceblue;
}


#sd-main{
  min-height: calc( 100vh - 240px);
  background-color: cadetblue;
}

footer{
  height: 100px;
  background-color: aliceblue;
}

.sd-footer{
  height: 100%;
}

.sd-header .row{
  height: 100%;
}

.sd-header .row label{
  line-height: 35px;
}



.sd-form{
 max-width: 300px;
}

.sd-game-area{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  border-radius: 10px;
  background-color:rgb(43, 43, 95);
}

.sd-box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: aliceblue;
  border: 2px solid cadetblue;
  border-radius: 15px;
  cursor: pointer;
}

.sd-box.check{
  background-color: aquamarine;
}

.sd-box.bomb{
  background-color: brown;
  color: aliceblue;
}

.sd-box:active{
  transform: scale(1.4);
}

.end-message{
  width: 600px;
  height: 250px;
  position: absolute;
  z-index: 999;
  border-radius: 20px;
  background-color: rgba(165, 42, 42, 0.747);
  /* display: none; */
}


.block{
  display: block;
}


