
/* header */
.sd-header{
  height: 100px;
  background-color: rgb(211, 186, 248);
}

.sd-header .row{
  height: 100%;
}

.sd-header .row label{
  line-height: 35px;
}

.sd-header img{
  width: 80px;
}


/* main */
#sd-main{
  min-height: calc( 100vh - 230px);
  background-color: cadetblue;
  position: relative;
  color: aliceblue;
}

.sd-game-area{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border-radius: 10px;
  background-color:rgb(43, 43, 95);
}

.sd-box{
  display: flex;
  justify-content: center;
  align-items: center;
  color: blueviolet;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
  border: 2px solid cadetblue;
  border-radius: 15px;
  cursor: pointer;
}

.sd-box.check{
  background-color:darkseagreen;
}

.sd-box.bomb{
  background-color: rgb(241, 137, 0);
  color: rgb(218, 15, 123);
  background-image: url(../img/img-bomb.png);
  background-size: cover;
  background-position: center;
  
}

.end-message{
  width: 80%;
  height: 250px;
  border-radius: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(219, 112, 11, 0.795);
}

/* footer */

footer{
  height: 130px;
  background-color: rgb(211, 186, 248);
}

/* instruction */
.sd-box:active{
  transform: scale(1.4);
}

footer h4::after{
  content: ' ';
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  vertical-align: middle;
  background-image: url(../img/img-bomb.png);
  background-position: center;
  background-size: cover;
}

